name: Create Woodworking Toolkit Add-on Zip

on:
  push:
    branches:
      - main

env:
  VERSION: 0.1.${{ github.run_number }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create zip file
        run: |
          zip -r woodworking_toolkit_${{ env.VERSION }}.zip Add-ons/WoodworkingToolkit

      - name: Upload artifact
        uses: actions/upload-artifact
        with:
          name: woodworking_toolkit_${{ env.VERSION }}.zip
          path: woodworking_toolkit_${{ env.VERSION }}.zip